{% extends "base.html" %}

{% block title %}{{ my_action }} Company{% endblock %}

{% block heading %}<h3>{{ my_action }} Company</h3>{% endblock %}

{% block content %}

<div class="row">
    <form class="col s12" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col s12">
                <label>
	                {{ form.active }}
	                <span>Active</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                {{ form.code }}
                <label for="id_code">Company Code</label>
            </div>
        </div>
        
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Main Address</div>
                <div class="collapsible-body">

                </div>
            </li>

            <li>
                <div class="collapsible-header">Shipping Address</div>
                <div class="collapsible-body">body</div>
            </li>

            <li>
                <div class="collapsible-header">Main Contact</div>
                <div class="collapsible-body">body</div>
            </li>
            
            <li>
                <div class="collapsible-header">Tax IDs</div>
                <div class="collapsible-body">body</div>
            </li>
        </ul>
        

        <p>
	        <button class="btn waves-effect waves-light" type="submit" id="submit_button">Submit</button>
        </p>
    </form>
</div>

{% endblock %}

{% block page_script %}
<script>
 $(document).ready(function () {
     $('select').formSelect();
     $('.collapsible').collapsible();
 });
</script>
{% endblock %}
