*~
\#*\#
.\#~

*.py[cod]
*$py.class

geckodriver*

db.sqlite3

secrets.py

runserver
makemigrations
migrate

/media/

*.csv
*.CSV

*.xls
*.XLS

*.ods
*.ODS

*.jpg
*.Jpg
*.JPG