{% extends 'base.html' %}

{% block content %}

<h3>Aguardando List</h3>

<h6><a href="/admin/aguardando/aguardando/" target="_blank">Admin</a></h6>

{% include 'pagination.html' %}

<div class="row">
  <div class="col s12">
	<table>
	  <tr>
		<th>
		  Produto
		</th>
		
		<th class="align-right">
		  Qtde
		</th>
		
		<th class="align-right">
		  Já_sep.
		</th>
		
		<th class="align-right">
		  Sobram
		</th>
		
		<th>
		  Cliente
		</th>
		
		<th>
		  Estado
		</th>

		<th>
		  Container
		</th>
		
		<th>
		  Obs.
		</th>
	  </tr>
	  
	  {% for aguardando in object_list %}

	  <tr{% if aguardando.estado.nome == "Desistência" %} class="orange lighten-3"{% endif %}>
		<td>
		  <b>{{ aguardando.produto.code }}</b>
		  {{ aguardando.produto.name|title }}
		</td>
		
		<td class="align-right">
		  {{ aguardando.qtde }}
		</td>

	  	<td class="align-right">
		  {{ aguardando.ja_separado }}
		</td>

	  	<td class="align-right">
		  {% if aguardando.estado.nome == "Container" %}
		  ({{ aguardando.sobram }})
		  {% endif %}
		</td>

	  	<td>
		  {{ aguardando.cliente.code }}
		  {{ aguardando.cliente.business_name|title }}
		</td>

	  	<td>
		  {{ aguardando.estado|title }}
		</td>

	  	<td>
		  {{ aguardando.container }}
		</td>

	  	<td>
		  {{ aguardando.obs }}
		</td>
	  </tr>
	  
	  {% endfor %}
	</table>
  </div>
</div>

{% include 'pagination.html' %}

{% endblock %}
