{% extends "base.html" %}

{% block title %}{{ my_action }} Product{% endblock %}

{% block heading %}<h3>{{ my_action }} Product</h3>{% endblock %}

{% block content %}

<div class="row">
  <form class="col s12" enctype="multipart/form-data" method="POST">
	{% csrf_token %}

	<div class="row">
	  <div class="col s12">
		<label>
		  {{ form.active }}
		  <span>Active</span>
		</label>
	  </div>
	</div>

	<div class="row">
	  <div class="input-field col s4">
		{{ form.code }}
		<label for="id_code">Code</label>
	  </div>
	  
	  <div class="input-field col s8">
		{{ form.name }}
		<label for="id_name">Name</label>
	  </div>
	</div>

	<div class="row">	  
	  <div class="col s12">
		<label for="id_photo">Photo:</label> <input type="file" name="photo" accept="image/*" id="id_photo">
	  </div>
	</div>

	<div class="row">
	  <div class="input-field col s6">
		{{ form.ean }}
		<label for="id_ean">EAN</label>
	  </div>
	  
	  <div class="input-field col s3">
		{{ form.quantity_per_box }}
		<label for="id_quantity_per_box">Qty. per box</label>
	  </div>

	  <div class="input-field col s3">
		{{ form.weight }}
		<label for="id_weight">Box Weight</label>
	  </div>
	</div>

	<div class="row">
	  <div class="input-field col s4">
		{{ form.default_sale_currency }}
		<label>Default Sale Currency</label>
	  </div>

	  <div class="input-field col s4">
		{{ form.default_sale_price }}
		<label for="id_default_sale_price">Default Sale Price</label>
	  </div>
	</div>	
	
	<ul class="collapsible">
	  <li>
		<div class="collapsible-header">Tax Information</div>
		<div class="collapsible-body">
		  <div class="row">

			<div class="input-field col s3">
			  {{ form.ncm }}
			  <label for="id_ncm">NCM</label>
			</div>

			<div class="input-field col s2">
			  {{ form.ii }}
			  <label for="id_ii">I. I.</label>
			</div>

			<div class="input-field col s3">
			  {{ form.cest }}
			  <label for="id_cest">CEST</label>
			</div>

			<div class="input-field col s2">
			  {{ form.icms }}
			  <label for="id_icms">ICMS</label>
			</div>

			<div class="input-field col s2">
			  {{ form.ipi }}
			  <label for="id_ipi">IPI</label>
			</div>

		  </div>
		</div>
	  <li>
	</ul>
	
	<p>
	  <button class="btn waves-effect waves-light" type="submit" id="submit_button">Submit</button>
	</p>
  </form>
</div>

{% endblock %}

{% block page_script %}
<script>
  $(document).ready(function () {
  $('select').formSelect();
  $('.collapsible').collapsible();
  });
</script>
{% endblock %}
