{% extends "base.html" %}

{% block title %}{{ my_action }} Product{% endblock %}

{% block heading %}<h3>{{ my_action }} Product</h3>{% endblock %}

{% block content %}

<form enctype="multipart/form-data" method="POST">
  {% csrf_token %}

  <label>
	{{ form.active }}
	<span>Active (custom)</span>
  </label>
  
  {{ form.as_p }}

  <p>
	<button class="btn waves-effect waves-light" type="submit" id="submit_button">Submit</button>
  </p>
</form>

{% endblock %}

{% block page_script %}
<script>
  $(document).ready(function () {
  $('select').formSelect();
  });
</script>
{% endblock %}
